---
- name: Deploy Caddy systemd service unit
  ansible.builtin.template:
    src: caddy.service.j2
    dest: /etc/systemd/system/caddy.service
    owner: root
    group: root
    mode: "0644"
  become: true
  notify: Restart Caddy

- name: Reload systemd daemon
  ansible.builtin.systemd_service:
    daemon_reload: true
  become: true

- name: Enable Caddy service
  ansible.builtin.systemd_service:
    name: caddy
    enabled: "{{ xcaddy_service_enabled }}"
  become: true

- name: Start Caddy service
  ansible.builtin.systemd_service:
    name: caddy
    state: started
  become: true
  when: xcaddy_service_started
