---
name: Release
permissions:
  contents: read
on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Publish
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true

      - name: Install dependencies
        run: uv pip install -r requirements.txt

      - name: Publish to Ansible Galaxy
        run: >-
          ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }}
          $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
